@media all and (max-width: 1415px) {
  .bg__products {
    max-width: 279px;
  }
  .hero__cards {
    flex-wrap: wrap;
  }
  .article__card {
    margin-right: 15px;
  }
}
@media all and (max-width: 1192px) {
  .bg__products {
    max-width: 200px;
  }
  .bg__container > h1 {
    font-size: 30px !important;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__cards {
    justify-content: center !important;
  }
  .hero__card {
    margin-bottom: 25px;
  }
}
@media all and (max-width: 1018px) {
  .header__search > input {
    width: 200px !important;
  }
  .products {
    margin: 10px 0 !important;
  }
  .products__cards {
    justify-content: center;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
  .articles__content {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .article__card {
    margin-bottom: 25px;
  }
}
@media all and (max-width: 820px) {
  .bg__products {
    margin-left: 0 !important;
  }

  .footer__left {
    justify-content: space-around !important;
  }
  .container-parent {
    width: auto !important;
  }
}
@media all and (max-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: inherit !important;
  }
  .bg__products {
    max-width: 140px !important;
  }
  .slider {
    width: 272px !important;
  }
  .slider-parent {
    width: 350px !important;
  }
  .header__content {
    flex-wrap: wrap;
  }
  .hero__img {
    width: 200px;
  }
  .hero__card-red > div {
    max-width: 210px !important;
    width: auto !important;
  }
  .hero__card-red {
    width: auto !important;
  }
  .hero__card {
    flex-wrap: wrap;
  }
  .footer__right {
    margin-top: 15px;
  }
}

@media all and (max-width: 576px) {
  .container,
  .container-sm {
    max-width: inherit !important;
  }
  .bg__container {
    flex-wrap: wrap !important;
    justify-content: center;
  }
  .bg__container > h1 {
    font-size: 25px !important;
  }
}

@media all and (max-width: 362px) {
  .slider {
    width: 200px !important;
  }
  .slider-parent {
    width: 265px !important;
  }
  .header__content {
    justify-content: space-around !important;
  }
  .header__content > * {
    margin-top: 10px;
  }
  .bg__products {
    display: none;
  }
  .add > h2 {
    font-size: 28px !important;
  }
  .add > h4 {
    margin-left: 10px;
    font-size: 16px !important;
  }
}
