* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none !important;
  font-size: 16px !important;
  color: #414141 !important;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h2 {
  font-weight: 700 !important;
  font-size: 36px !important;
  line-height: 150% !important;
  color: #414141 !important;
}
h3 {
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 150% !important;
  color: #414141 !important;
  margin-bottom: 0 !important;
}
h4 {
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 150% !important;
  color: #414141 !important;
}
p {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 150%;
  color: #414141;
  margin-bottom: 0 !important;
}
.yandex-map {
  display: flex;
  justify-content: center;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
  background: #fbf8ec !important;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.login__button {
  background-color: inherit;
  border: 0;
}
.logout__button {
  background-color: inherit;
  border: 0;
}
